# Ignored files and directories related to output frames
output_frames/*

# Ignore macOS .DS_Store files
.DS_Store

# Ignore Python bytecode cache files
src/__pycache__/

# Ignore files inside of Videos folder
/videos/*

# Ignore testing frames and text
__pycache__
/testing/test_frames/*
/testing/test_output_text/*