# Ignored files and directories related to output frames
output_frames/*

# Ignore macOS .DS_Store files, python bytecode
.DS_Store
__pycache__

# Ignore Python bytecode cache files
src/__pycache__/

# Ignore files inside of Videos folder
/videos/*
!/videos/readme_videos.md

# Ignore testing frames and text
testing/__pycache__
testing/ocr_modules/__pycache__

/testing/test_frames/*
!/testing/test_frames/test_frames_readme.md

/testing/test_output_text/*
!/testing/test_output_text/test_output_text_readme.md

